.dark-color {
  background: #020c1a;
}

#container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0px auto;
  overflow: auto;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.btn-secondary, .btn-primary {
  display: inline-block;
  border-radius: 5px;
  padding: 13px 20px;
  border-radius: 0;
  margin: 3px;
}
.btn-secondary:hover, .btn-primary:hover {
  transform: scale(0.98);
}

.btn-primary {
  background-color: #b93b7b;
}

.btn-secondary {
  background-color: #020c1a;
}

@media (max-width: 700px) {
  .showcase {
    height: 300px;
  }
  .showcase-content {
    text-align: center;
    margin: 40pt auto;
  }
  .showcase-content img {
    display: none;
  }
  .showcase #navbar {
    background: black;
    padding: 11pt 0;
    border-bottom: 1pt solid #303030;
  }
  .showcase #navbar a {
    font-size: 17px;
    color: #ebf9ff;
    padding: 10pt 30pt;
  }
  .showcase #navbar a:hover {
    padding: 10pt 30pt;
    background: #ff0037;
  }
  .showcase #navbar ul {
    padding: 60pt;
    text-align: center;
  }

  .service {
    padding: 450pt 0pt;
  }
  .service .service-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .service .service-content h1 {
    font-size: 12pt;
  }

  #feature {
    height: 800pt;
  }
  #feature .card_img {
    height: 180pt;
    background-size: cover;
  }

  #port {
    padding: 10pt 0pt;
  }
  #port .card_img {
    height: 180pt;
    background-size: cover;
  }

  #ourteam {
    background-color: #030616;
    padding: 30pt 0;
    margin-top: 40pt;
  }
  #ourteam #ourteam-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  #ourteam #ourteam-content h1 {
    font-size: 40px;
    line-height: 1.2;
    color: #fff;
  }
  #ourteam #ourteam-content p {
    font-size: 16pt;
  }
  #ourteam #ourteam-content .icons {
    font-size: 60pt;
    color: #319afc;
  }
  #ourteam #ourteam-content .paragraph {
    font-size: 11pt;
  }

  .footer {
    padding: 5pt 0pt;
  }
  .footer .service-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .footer .service-content h1 {
    font-size: 12pt;
  }
}
@media (max-width: 900px) {
  .showcase {
    height: 100%;
  }
  .showcase-content {
    text-align: center;
    margin: 30pt auto;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

img {
  width: 100%;
}

#navbar {
  background: black;
  padding: 11pt 0;
  border-bottom: 1pt solid #303030;
}
#navbar a {
  font-size: 17px;
  color: #ebf9ff;
}

.showcase {
  background-color: #b93b7b;
  color: #fff;
  background: linear-gradient(120deg, rgba(26, 88, 233, 0.897) 70%, #02237e 40%);
  height: 700px;
}
.showcase .container-fluid {
  max-width: 1500px;
}
.showcase .navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
.showcase a {
  padding: 10pt 20pt;
}
.showcase-content {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 130pt auto;
}
.showcase-content img {
  width: 50%;
  pointer-events: none;
}
.showcase-content h1 {
  font-size: 60px;
  line-height: 1.2;
}
.showcase-content p {
  margin: 10px 0;
}
.service {
  background-color: #020c1a;
  color: #fff;
  height: 700px;
}
.service .service-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.service .service-content h1 {
  font-size: 40px;
  line-height: 1.2;
  color: #fff;
}
.service .service-content p {
  font-size: 16pt;
}
.service .service-content .icons {
  font-size: 60pt;
  color: #c0ddf7;
}
.service .service-content .paragraph {
  font-size: 11pt;
}

#feature .container #overlay {
  background: rgba(0, 0, 0, 0.212);
}
#feature .container #overlay button {
  display: none;
}
#feature .container #overlay:hover {
  background: rgba(1, 9, 14, 0.925);
}
#feature .container #overlay:hover button {
  display: revert;
}

#ourteam {
  background-color: #030616;
  padding: 150pt 0;
}
#ourteam #ourteam-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#ourteam #ourteam-content h1 {
  font-size: 40px;
  line-height: 1.2;
  color: #fff;
}
#ourteam #ourteam-content p {
  font-size: 16pt;
}

.footer {
  padding: 80pt 0pt;
  background: #0a0a0a;
}
.footer a {
  color: white;
  font-size: 12pt;
}
.footer a:hover {
  color: #689deb;
}

/*# sourceMappingURL=style.css.map */
