#container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0px auto;
  overflow: auto;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.btn-secondary, .btn-primary {
  display: inline-block;
  border-radius: 5px;
  padding: 13px 20px;
  border-radius: 0;
  margin: 3px;
}
.btn-secondary:hover, .btn-primary:hover {
  transform: scale(0.98);
}

.btn-primary {
  background-color: #b93b7b;
}

.btn-secondary {
  background-color: #000000;
}

@media (max-width: 700px) {
  .showcase {
    height: 1200px;
  }
  .showcase-content {
    text-align: center;
    margin: 50pt auto;
  }
  .showcase-content img {
    display: none;
  }

  .service {
    padding: 450pt 0pt;
  }
  .service .service-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .service .service-content h1 {
    font-size: 12pt;
  }
}
@media (max-width: 900px) {
  .showcase {
    height: 100%;
  }
  .showcase-content {
    text-align: center;
    margin: 30pt auto;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

img {
  width: 100%;
}

.showcase {
  background-color: #b93b7b;
  color: #fff;
  height: 700px;
}
.showcase nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.showcase nav ul {
  display: flex;
  list-style-type: none;
}
.showcase nav li {
  padding: 15px;
}
.showcase nav a:hover {
  color: #000000;
}
.showcase a {
  color: #fff;
  text-decoration: none;
}
.showcase-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50pt auto;
}
.showcase-content img {
  width: 50%;
  pointer-events: none;
}
.showcase-content h1 {
  font-size: 60px;
  line-height: 1.2;
}
.showcase-content p {
  margin: 10px 0;
}

.service {
  background-color: #000000;
  color: #fff;
  height: 700px;
}
.service .service-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.service .service-content h1 {
  font-size: 40px;
  line-height: 1.2;
  color: #fff;
}
.service .service-content p {
  font-size: 16pt;
}
.service .service-content .icons {
  font-size: 60pt;
  color: #b93b7b;
}
.service .service-content .paragraph {
  font-size: 11pt;
}

.portfolio {
  background-color: white;
  color: #333;
  height: 700px;
}
.portfolio .portfolio-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.portfolio .portfolio-content h1 {
  font-size: 40px;
  line-height: 1.2;
  color: black;
}
.portfolio .portfolio-content p {
  font-size: 16pt;
}
.portfolio .portfolio-content .icons {
  font-size: 60pt;
  color: #b93b7b;
}
.portfolio .portfolio-content .paragraph {
  font-size: 11pt;
}

/*# sourceMappingURL=style.css.map */
