$font-stack: Arial, Helvetica, sans-serif;
$light-color: white;
// $primary-color: #2451e6;
$primary-color: #b93b7b;
$secondary-color: #020c1a;

//Set text color based on bg
@function set-text-color($color) {
    @if(lightness($color) > 70) {
        @return #333;
    } @else {
        @return #fff;
    }
} 

//Set background & text color
@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color)
}

.dark-color{
    background: $secondary-color;
}

