@media(max-width: 700px) {
 .showcase{
    height: 1200px;
    

    &-content {
        text-align: center;
        margin: 50pt auto;
                
        img {
            display: none;
        }
    }
}

.service{
    padding: 450pt 0pt;
    
    .service-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

    h1{
        font-size:12pt;
    }
}
}

}

