@media(max-width: 900px) {
    .showcase{
       height: 100%;
       
   
       &-content {
           text-align: center;
           margin: 30pt auto;
           
           img {
               
           }
       }
   }
   }