$primary-color: #b93b7b;

%btn {
    display: inline-block;
    border-radius: 5px;
    padding: 13px 20px;
    border-radius: 0;
    margin: 3px;

    &:hover {
        transform: scale(.98);
    }
}

.btn-primary {
    @extend %btn;
    background-color: $primary-color;
}


.btn-secondary {
    @extend %btn;
    background-color: $secondary-color;
}

