@import 'config';
@import 'utilities';
@import 'buttons';
@import 'mobile';
@import 'tablet';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $light-color;
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.6;
}

img {
    width: 100%;
}


.showcase {
    @include set-background($primary-color);
    height: 700px;
    

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            list-style-type: none;
        }

        li {
            padding: 15px;
        }

        a:hover {
            color: $secondary-color;
        }

        
    }

    a {
        color:set-text-color($primary-color);
        text-decoration: none;
    }

    &-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50pt auto;

        img {
            width: 50%;
            pointer-events: none;
        }

        h1 {
            font-size: 60px;
            line-height: 1.2;
        }

        p {
            margin: 10px 0;
        }
    }
}

//ourServices
.service{
    @include set-background($secondary-color);
    height: 700px;
    
    .service-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

    h1{
        font-size: 40px;
        line-height: 1.2;
        color:set-text-color($primary-color);
    }

    p{
        font-size: 16pt;
    }

    .icons{
        font-size: 60pt;
        color: $primary-color;
    }

    .paragraph{
        font-size: 11pt;
    }

}
}


//Portfolio
.portfolio{
    @include set-background($light-color);
    height: 700px;
    
    .portfolio-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

    h1{
        font-size: 40px;
        line-height: 1.2;
        color:rgb(0, 0, 0);
    }

    p{
        font-size: 16pt;
    }

    .icons{
        font-size: 60pt;
        color: $primary-color;
    }

    .paragraph{
        font-size: 11pt;
    }

}
}