@import 'config';
@import 'utilities';
@import 'buttons';
@import 'mobile';
@import 'tablet';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $light-color;
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.6;
}

img {
    width: 100%;
}


#navbar{
    background: black;
    padding: 11pt 0;
    border-bottom: 1pt solid rgb(48, 48, 48);
    a{
        font-size: 17px;
        color: rgb(235, 249, 255);
    }

}

.showcase {
    @include set-background($primary-color);
    background: linear-gradient(120deg, rgba(26, 88, 233, 0.897) 70%, rgb(2, 35, 126) 40%);
    height: 700px;
    
    .container-fluid{
        max-width: 1500px;
    }
    
    .navbar-fixed-top.scrolled {
        background-color: #fff !important;
        transition: background-color 200ms linear;
      }

    a{
        padding: 10pt 20pt;
    }

    &-content {
        height: 100%;
        display: flex;
        align-items: center;
        
        margin: 130pt auto;

        img {
            width: 50%;
            pointer-events: none;
        }

        h1 {
            font-size: 60px;
            line-height: 1.2;
        }

        p {
            margin: 10px 0;
        }

        #contact_div{
            
        }
    }
}

//ourServices
.service{
    @include set-background($secondary-color);
    height: 700px;
    
    .service-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

    h1{
        font-size: 40px;
        line-height: 1.2;
        color:set-text-color($primary-color);
    }

    p{
        font-size: 16pt;
    }

    .icons{
        font-size: 60pt;
        color: rgb(192, 221, 247);
    }

    .paragraph{
        font-size: 11pt;
    }

}
}


#feature{

    .container{

    #overlay{
        background: rgba(0, 0, 0, 0.212);

        button{
            display: none;
        }
    }

    #overlay:hover{
        background: rgba(1, 9, 14, 0.925);
        button{
            display: revert;
        }
    }
   }
}

#ourteam{
    
    background-color: rgb(3, 6, 22);
    padding: 150pt 0;
    
    #ourteam-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

    h1{
        font-size: 40px;
        line-height: 1.2;
        color:set-text-color($primary-color);
    }

    p{
        font-size: 16pt;
    }


}
}

.footer{
    
    padding: 80pt 0pt;
    background: rgb(10, 10, 10);

    a{
        color: white;
        font-size: 12pt;
    }

    a:hover{
        color: #689deb;
    }
}


